<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>Mini Table</h1>
  <table border="black">
   <caption>Mini Time Table</caption>
   <tr>
    <th>SNO</th>
    <th>Student name</th>
    <th>Class</th>
    <th>Grade</th>
    <th>Marked</th>
   </tr>
   <tr>
    <td>1</td>
    <td>Aishwarya</td>
    <td>BE 3rd year</td>
    <td>A+</td>
    <td>Marked</td>
   </tr>
   <tr>
    <td>2</td>
    <td>Keerthana</td>
    <td>BE 3rd year</td>
    <td>A+</td>
    <td>Marked</td>
   </tr>
   <tr>
    <td>3</td>
    <td>Kiran</td>
    <td>BE 4th year</td>
    <td>A</td>
    <td>Marked</td>
   </tr>
   <tr>
    <td>4</td>
    <td>Shalini</td>
    <td>BE 3rd year</td>
    <td>B</td>
    <td>Not Marked</td>
   </tr>
  </table>
  <script src="mix.js"></script>
  <button id="top" onclick="{app()}" >Top students in the year</button>
</body>
</html>